@model Test_EduHub.Models.Enrollment
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Edit Enrollment Status</title>
</head>

<body>
    <div class="container-fluid mt-5" style="width: 40%;">
        <h2 class="mb-4">Update Enrollment Status</h2>
        <form asp-action="UpdateEnrollmentStatus" asp-controller="Enrollment" asp-route-id="@Model.Id" method="post">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Status">Status</label>
                <select asp-for="Status" class="form-control" style="width: 40%;">
                    <option value="@Model.Status">@Model.Status</option>
                    <option value="Accepted">Accepted</option>
                    <option value="Rejected">Rejected</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Save</button>
            <a asp-action="Index" asp-controller="Enrollments" class="btn btn-danger mt-3">Cancel</a>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>